@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap"); */

/* paleta de cores do projeto
#e7dfd8
#c79b69
black
*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #e7dfd8;
  /* min-height: 150px; */
  /* text-align: left; */
} 

.cabecalho {
   /* max-width: 100%;
   max-height: 100%;  */
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  display: inline-block;
}

.container-fluid .my-container-fluid{
  justify-content: space-evenly !important;
  display: flex;
  

}
.collapse .navbar-collapse .my-collapse{
  justify-content: center;
  align-items: center;
  padding-left: 70px;
  
}

.icones-cabecalho  {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: flex-end;
  padding: 10px;
  /*criada width para poder colocar exemplo de barra de pesquisa*/
  width: 100px; 
  /* justify-content: space-between; */

}

#pesq{
  width: 100px;
  
}

/*Bara de pesquisa*/
.search{
 width: 150px;
}


#show-or-hide{
  /* display: flex;
  height: 10px;
  width: 15px;
  padding: 10px;
  margin-bottom: 25px;
  align-items:flex-start ;
  display: flex;
   */
}




.bi{
  color: black;
}


/* .icones-cabecalho >*{
padding: 10px;

} */

/* nav {
  background-color: #c79b69;
  height: 30px;
  width: 100%;
  margin-top: 0;
  font-size: 20px;
  text-align: center;
  text-shadow: black -1px 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-around; */
/* } */

header > .img-lupa-carrinho {
  display: flex;
  justify-content: flex-end;
}

main {
  background-color: black;
  
}

.baixos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.baixos >*{
  flex-grow: 1 0 calc(45% -10px);
  margin: calc(15% * (1/3) - 10px - 1px) /*calculou a margem de cada item 15% * 1/3 - 11 px, quie fez separar 3 em cada linha*/
}

/* .violoes{
  flex-grow: 1 0 calc(45% -10px);
  margin: calc(15% * (1/3) - 10px - 1px);
} */

footer {
  background-color:#c79b69;
  min-height: 250px;
  list-style: none;
  text-shadow: black -1px 0;
  height: 30px;
  width: 100%;
  margin-top: 0;
  padding-top: 30px;
  font-size: 25px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-around;
}

.contato, .follow-us, .sobre, .li{
list-style: none;
padding: 0px;
color: black;
text-decoration: none;
display: flex;
margin-left: 10px;

}
.phone, .email, .inf{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.616);
    text-shadow: none;
    display: flex;
    text-decoration: none;
   
}

.icone {
  color: rgba(0, 0, 0, 0.616);
  
}
.bi{
  color: black;
}




